{% extends "parent/base.html" %}
{% block title %}Create Post{% endblock title %}
{% block content %}
<form method='post' enctype='multipart/form-data'>
    {% csrf_token %}
    {{form.as_p}}
    {% if post %}
        {% for img in post.images.all %}
            <img with='400px' height='300px' src="{{img.image_file.url}}" alt='{{img.title}}'>
            <a href='{% url "blog:delete_image" img.id%}'>delete image</a>
        {% endfor %}
    {% endif %}
    <br>
    <input type='submit' value='ENTER'>
</form>
{% endblock content %}