{% extends "parent/base.html" %}
{% load blog_tags %}
{% block title %}Post_List{% endblock title %}

{% block content %}

{% if category %}
<p>List post of {{category}}</p>
{% else %}
<h1>Post List</h1>
{% endif %}
{% for post in posts %}
    <h4>
        {% comment %} {% url 'blog:post_detail' post.id%} {% endcomment %}
        <a href="{{post.get_absolute_url}}">{{post.title | censor}}</a>
    </h4>
    <p>{{post.description|truncatewords:4 | censor}}</p>
    <br>
    <img with='400px' height='300px' src="{{post.images.first.image_file.url}}" alt='{{post.images.first.title}}'>
{% endfor %}
<br><br>
{% include "partials/pagination.html" with page=page_obj%}

<br><br>
<a href='{% url "blog:create_post" %}'>
    <button>Create Post</button>
</a>
<div>
    <a href='{% url "blog:post_list_category" "tk"%}'>تکنولوژی</a><br>
    <a href='{% url "blog:post_list_category" "pro"%}'>برنامه نویس</a><br>
    <a href='{% url "blog:post_list_category" "hosh"%}'>هوش مصنوعی</a><br>
    <a href='{% url "blog:post_list_category" "blak"%}'>بلاکچین</a><br>
</div>
{% endblock content %}